.btn_order .ant-btn {
    margin-bottom: 10px;
}
.btn_order .ant-btn:hover {
    background: white;
    color: #d3b673 ;  
    border: 1px solid #d3b673; 
    transition: all 0.3s ease; 
}
/* .Information {
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr 1.4fr 0.7fr ;
} */
